In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
from datetime import date

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1438,tt0462590,12000000,114194847,Step Up,Channing Tatum|Jenna Dewan|Damaine Radcliff|De...,Anne Fletcher,Every Second Chance Begins With a First Step,Everyone deserves a chance to follow their dre...,104,Music|Drama|Romance|Crime,Summit Entertainment|Offspring Entertainment|T...,8/11/2006,6.7,2006
1874,tt0202402,15000000,9902115,Whatever It Takes,Jodi Lyn O'Keefe|Shane West|Marla Sokoloff|Jam...,David Raynr,How low will they go to get the girls of their...,"A nerdy teen, Ryan Woodman is smitten with the...",94,Drama|Comedy|Romance,Columbia Pictures Corporation,3/31/2000,5.0,2000
1324,tt0396269,40000000,285176741,Wedding Crashers,Owen Wilson|Vince Vaughn|Christopher Walken|Ra...,David Dobkin,Life's a Party. Crash It.,"John and his buddy, Jeremy are emotional crimi...",119,Comedy|Romance,New Line Cinema|Tapestry Films|Avery Pix,7/14/2005,6.3,2005
1721,tt0762107,85000000,186072214,I Now Pronounce You Chuck & Larry,Adam Sandler|Kevin James|Jessica Biel|Dan Aykr...,Dennis Dugan,"They're as straight as can be, but don't tell ...",Firefighters Chuck Ford and Larry Valentine ar...,115,Comedy|Romance,Universal Pictures|Happy Madison Productions,7/12/2007,5.9,2007
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [86]:
answers = {} # создадим словарь для ответов

# Добавляем колонку прибыль = сборы - бюджет (profit = revenue - budget).
data['profit'] = data.apply(lambda row: row['revenue']- row['budget'], axis = 1)

# Добавляем колонку release_month, которая показывает месяц релиза фильма. Вытягиваем из release_date.
data['release_month'] = data.release_date.apply(lambda x: x.split("/")[0]) 

# Добавляем колонку original_title_len, которая показывает количестыо символов в названии фильма (original_title).
data['original_title_len'] = data.original_title.apply(lambda item: len(item))

# Добавляем колонку overview_words_len, которая показывает количестыо слов в описании фильма (overview).
data['overview_words_len'] = data.overview.apply(lambda item: len(item.split()))

# Преобразовываем формат колонки из object в datetime64
data['release_date'] = pd.to_datetime(data['release_date'])


def data_explode(df, col, cnt = False):
    
    """
    Принимает на входе объект DataFrame df и 'имя' столбца col.
    Каждое поле столбца col - список элементов с разделителем '|'.
    Если cnt = True ("режим value_counts"):
        - возвращает объект series типа value_counts для столбца col.
    Если cnt = False ("режим DataFrame"):
        - возвращает объект DataFrame c "разъединёнными" элементами столбца col
    """
    df[col] = df[col].str.split('|')
    df = df.explode(col)
    if cnt: 
        return df[col].value_counts()
    return df

AttributeError: 'Timestamp' object has no attribute 'split'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [11]:
# Фильтруем DataFrame по бюджету, где бюджет равен максимальному значению бюджета. Выводим название фильма.
data[data.budget == data.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [20]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' #+

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [21]:
# Фильтруем DataFrame по длительности, где длительность равна максимальному значению. Выводим название фильма.
data[data.runtime == data.runtime.max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

In [22]:
answers['2'] = 'Gods and Generals' #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [23]:
# Фильтруем DataFrame по значению длительности, где длительность равна минимальному значению. Выводим название фильма.
data[data.runtime == data.runtime.min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

In [24]:
answers['3'] = 'Winnie the Pooh' #+

# 4. Какова средняя длительность фильмов?

In [25]:
# Применяем метод describe() к DataFrame, обращаемся к значению среднего (mean) для runtime.
data.describe()['runtime']['mean']

109.6585494970884

In [26]:
answers['4'] = 110 #+

# 5. Каково медианное значение длительности фильмов?

In [27]:
# Применяем функцию нахождения медианы (median) к столбцу runtime.
data.runtime.median()

107.0

In [28]:
answers['5'] = 107 #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [29]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# Фильтруем DataFrame по максимальному значению прибыли. Выводим название фильма.
data[data.profit == data.profit.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [30]:
answers['6'] = 'Avatar' #+

# 7. Какой фильм самый убыточный?

In [31]:
# Фильтруем DataFrame по минимальномузначению прибыли. Выводим название фильма.
data[data.profit == data.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [32]:
answers['7'] = 'The Lone Ranger' #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [35]:
# Фильтруем DataFrame по услувию "сборы больше бюджета". Определяем длинну полученного DataFrame.
len(data[data.revenue > data.budget])

1478

In [ ]:
answers['8'] = 1478 #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [36]:
# Создаем DataFrame на базе исходного, фильтруем по году релиза 2008.
# В полученном DataFrame выводим название фильма, у которого сборы - максимальные.
data_9 = data[data.release_year == 2008]
data_9[data_9.revenue == data_9.revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [37]:
answers['9'] = 'The Dark Knight' #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [38]:
# Фильтруем DataFrame по году релиза в промежутке [2012, 2014]. 
# Применяем метод сортировки по колонке Revenue (сборы), по возрастанию. 
# Выводим значение в dataframe с 0 индексов колонка original_title с помощью метода iloc.
data[(data.release_year <= 2014) &
    (data.release_year >= 2012)].sort_values(['profit'],ascending=True).iloc[0]['original_title']

'The Lone Ranger'

In [39]:
answers['10'] = 'The Lone Ranger' #+

# 11. Какого жанра фильмов больше всего?

In [40]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, описание которой в блоке "предобработка". Выводим 0-ую строку результатов value_counts.
data_11 = data.copy()
data_11 = data_explode(data_11, 'genres' , cnt = True)
data_11.index[0]

'Drama'

In [41]:
answers['11'] = 'Drama' #+

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [42]:
# Создаем DataFrame из исходного data, фильтруя все фильмы, которые считаются прибыльными.
# Берем построкчно жанры, применяем метод split по '|'. Далее формируем список сумм всех значений. Таким образом, конвертируем
# строки, разделенные | в строки списки жанров. Создаем Series (pd.Series) из этих списков, для которых применяем метод
# value_counts(), выводим 0-ую строку, т.к. она будет соотвествовать жанру с максимальным повторением.
tmp_data_12 = data[data.profit>0]
pd.Series(tmp_data_12.genres.str.split('|').sum()).value_counts().index[0]

'Drama'

In [43]:
answers['12'] = 'Drama' #+

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [44]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, описание которой в блоке "предобработка", которая вернет DataFrame с данными для каждого
# режиссера по одиночке. Далее, к данному DF применяем метод группировки по режиссеру, суммирую сборы. Сортируем по убыванию, 
# выводим первое имя (index 0).
data_13 = data.copy()
data_13 = data_explode(data_13, 'director', cnt = False)
data_13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

In [ ]:
answers['13'] = 'Peter Jackson' #+

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [46]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, описание в блоке "предобработка", она вернет DataFrame с данными для каждого
# режиссера по отдельности.
data_14 = data.copy()
data_14 = data_explode(data_14, 'director', cnt = False)

In [47]:
# Далее, фильтруем DF по жанру, указав условие, что жанр содержит "Action".
# К полученному результату  применяем метод группировки по режиссеру, подсчитав количество фильмов. Сортируем по убыванию, 
# выводим первое имя (индекс 0).
data_14[data_14.genres.str.contains("Action", na=False)].groupby(
    ['director'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

In [48]:
answers['14'] = 'Robert Rodriguez' #+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [49]:
# Копируем в новую переменную исходный DataFrame. Фильруем по году выпуска фильма (2012).
# Применяем функцию data_explode, описание которой в блоке "предобработка", которая вернет data frame с данными для каждого
# актера по отдельности. Далее, группируем по актеру и сборам, сортируем по убыванию, выводим первое имя (индекс 0).
data_15 = data.copy()
data_15 = data_15[data_15.release_year == 2012]
data_15 = data_explode(data_15, 'cast', cnt = False)
data_15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

In [ ]:
answers['15'] = 'Chris Hemsworth' #+ """"Тор гормовержец, Хвала Одину и слава Асгарду!""""

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [51]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, описание которой в блоке "предобработка", которая вернет value_counts с данными для каждого
# актера по отдельности. Выводим первое имя (индекс 0).
data_16 = data.copy()
data_16 = data_16[data_16.budget > data_16.budget.mean()]
data_explode(data_16, 'cast', cnt =  True).index[0]

'Matt Damon'

In [52]:
answers['16'] = 'Matt Damon' #+

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [53]:
# Копируем в новую переменную исходный DataFrame. Фильтруем с помощью метода contains все записи, где есть имя искомого актера.
# Применяем функцию data_explode, описание которой в блоке "предобработке", она вернёт value_counts с данными для каждого
# жанра по отдельности. Выводим первое наименование (индекс 0).
data_17 = data.copy()
data_17 = data_17[data_17.cast.str.contains("Nicolas Cage", na=False)]
data_explode(data_17, 'genres', cnt = True).index[0]

'Action'

In [54]:
answers['17'] = 'Action' #+

# 18. Самый убыточный фильм от Paramount Pictures

In [55]:
# Создаем DataFrame из изходного data, применив def data_explode.
# Далее находим все упоминания Paramount Pictures, сортируем по возрастанию прибыльности. Выводим название нулевого элемента.
data_18 = data.copy()
data_18 = data_explode(data_18, 'production_companies', cnt = False)
data_18[data_18.production_companies.str.contains("Paramount Pictures", na=False)].sort_values(
    ['profit'],ascending=True)['original_title'].iloc[0]

'K-19: The Widowmaker'

In [ ]:
answers['18'] = 'K-19: The Widowmaker' #+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [56]:
# Группируем data по году выпуска фильма, значениями выступают кассовые сборы (сумма).
# Сортируем по убыванию, выводим нулевой элемент.
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

In [ ]:
answers['19'] = '2015' #+

# 20. Какой самый прибыльный год для студии Warner Bros?

In [57]:
# Создаем DataFrame из исходного data, применив def data_explode.
# Далее находим все упоминания Warner, т.к. есть несколько компаний с таким названием, 
# сортируем по убыванию прибыльности. Выводим название нулевого элемента.
data_20 = data.copy()
data_20 = data_explode(data_20, 'production_companies', cnt = False)
data_20[data_20.production_companies.str.contains("Warner", na=False)].groupby(
    ['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

In [58]:
answers['20'] = '2014' #+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [59]:
# Создаем в предобработке новую колонку release_monyth. Применяем метод группировки по месяцу, выводя кол-во уникальных фильмов.
# Сортируем по убыванию, выводим нулевой элемент.
data.groupby(['release_month'])['imdb_id'].nunique().sort_values(ascending=False).index[0]

'9'

In [ ]:
answers['21'] = '9' #+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [60]:
# Группируем data по месяцам, использую функцию month. Находим длинну отфильтрованного датафрейма.
len(data[data.release_date.dt.month.isin([6, 7, 8])])

450

In [ ]:
answers['22'] = 450 #+

# 23. Для какого режиссера зима – самое продуктивное время года?

In [63]:
# Зима это - декабрь, январь, февраль (12, 1, 2)
# применяем метод explode для преобразования списка режисссеров.
# Создаем pivot_table для месяца выхода фильма 12, 1, 2 по колонке месяц выпуска, значения - число фильмов, строки - режессеры, 
# выводим суммарные значения для всех месяцев (margins = True), сортируем по значению All, выводим первую строку, содержащую имя
# режиссера.
data_23 = data.copy()
data_23 = data_explode(data_23, 'director', cnt = False)
data_23_pivot = data_23.loc[data_23['release_month'].isin(['12','1','2'])].pivot_table(columns = 'release_month', 
                                index = 'director', 
                                values = 'imdb_id', 
                                aggfunc = 'count', margins=True).sort_values(
                                                                by = 'All', ascending=False)
data_23_pivot.index[1]

'Peter Jackson'

In [64]:
answers['23'] = 'Peter Jackson' #+

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [66]:
# В предобработку добавили колонку original_title_len. Расширили Data Frame, по колонке студии с помощью фукнкции data_explode.
# В полученном DF сгруппировали данные по студиям и длинне названия, использовав функции среднего. Отсортировали значения по убыванию,
# вывели нулевой элемент.
data_24 = data.copy()
data_24 = data_explode(data_24, 'production_companies', cnt = False)
data_24.groupby(['production_companies'])['original_title_len'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

In [67]:
answers['24'] = 'Four By Two Productions' #+

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
# В предобработку добавил колонку overview_words_len. Расширил Data Frame, по колонке студии с помощью фукнкции data_explode.
# В полученном DF сгруппировали данные по студиям и длинне описаний, использовав функции среднего. Отсортировали значения по убыванию,
# вывели нулевой элемент.
data_25 = data.copy()
data_25 = data_explode(data_25, 'production_companies', cnt = False)
data_25.groupby(['production_companies'])['overview_words_len'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

In [70]:
answers['25'] = 'Midnight Picture Show' #+

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [77]:
# Добавляем переменную quntile, которая показывает значение квантиля для рейтингов, выше 99%.
# Далее по данному значению фильруем dataframe data.
quantile = data.vote_average.quantile(q=0.99)
data[data.vote_average >= quantile].sort_values(by = 'vote_average', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_words_len
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,67
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10,4,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11,18,46
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,7,9,44
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10,16,61
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12,23,29
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12,45,45
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,9,11,39
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10,7,78
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7,23,28
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2,24,66
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10,9,30
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,2009-09-11,7.8,2009,-43452791,9,10,25
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,2007-12-28,7.8,2007,51181545,12,19,100
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,2004-03-19,7.8,2004,52258126,3,37,46
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,2006-10-19,7.8,2006,69676311,10,12,29
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,2013-09-07,7.8,2013,50198285,9,18,27
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,2013-09-18,7.8,2013,76126687,9,9,39
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443,10,10,29
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251,12,3,65
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,2009-12-23,7.8,2009,61000000,12,8,103
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2002-12-18,7.8,2002,847287400,12,37,41
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,2014-11-26,7.8,2014,106201940,11,24,14
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473,11,9,30
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265,5,22,47
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2001-12-18,7.8,2001,778368364,12,49,63

In [73]:
answers['26'] = 'The Dark Knight, Inside Out' #+

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
Несмог решить(

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)